.loader {
  box-sizing: border-box;
  border-color: #ff5555;
  border-top: 3px solid transparent;
  border-style: solid;
  border-radius: 50%;

  animation: spin 1.6s linear infinite;
}
.loader_size_l {
  border-width: 6px;
  width: 60px;
  height: 60px;
}
.loader_size_m {
  border-width: 4.5px;
  width: 40px;
  height: 40px;
}
.loader_size_s {
  border-width: 3px;
  width: 20px;
  height: 20px;
}
.loader_theme_button {
  border-color: #ffffff;
  border-top-color: transparent;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
