.container{
    display: flex;
    flex-direction: column;
    width: 397px;
    align-items: center;
    background-color: #FFFFFF;
}
.search{
    width: 90%;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.title{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}