.topic{
    box-sizing: border-box;
    padding: 4px 16px;
    color: #0066CC;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    background: #DAEDFF;
    border-radius: 20px;    
}